<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Factures</title>
    <link rel="stylesheet" th:href="@{/static/bootstrap-5.3.2-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styleCss.css">
    <script th:src="@{/commun.js}" type="text/javascript"></script>
    <link th:href="@{/communTouteLesFactures.css}" rel="stylesheet" type="text/css" />

</head>
<body>
<header>

    <div class="container">
        <div class="navbar" id="fixed-navbar">
            <ul class="navbar-menu" >
                <div class="navbar-links">
                    <li>
                        <div class="navbar-links">
                            <a href="/tpaTitreRec/TouteLesFactures" class="styled-link">| Tpa_Rec |</a>
                        </div>
                    </li>
                    <li>
                        <div class="navbar-links">
                            <a href="/tpaTitreRol/TouteLesFactures" class="styled-link">| Tpa_Role |</a>
                        </div>
                    </li>
                    <li>
                        <div class="navbar-links">
                            <a href="/tpaTitreRnf/TouteLesFactures" class="styled-link" style="color: purple;">| Tpa_Rnf |</a>
                        </div>
                    </li>
                    <li>
                        <div class="navbar-links">
                            <a href="/tpaTitreHop/TouteLesFactures" class="styled-link">| Tpa_Hop |</a>
                        </div>
                    </li>
                <li>
                    <div class="navbar-links">
                        <form th:action="@{/downloadAllFactureRnf}" method="get" id="downloadForm">
                            <input type="submit" value="Télécharger toutes les factures Rnf" class="styled-link">
                        </form>
                    </div>
                </li>

                <li>
                    <div class="navbar-links" style="text-align: center;">
                        <form th:action="@{/saveNewRnf}" method="get">
                            <input type="submit" value="Créer facture Tpa Titre Rnf" class="styled-link">
                        </form>
                    </div>
                </li>
                <li>
                    <div class="navbar-links" style="text-align: right;">
                        <form th:action="@{/deleteAllRnf}" method="post">
                            <input type="submit" value="Supprimer toutes les factures Rnf" class="styled-link">
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>

<div class="spacer"></div> <!-- Balise pour créer un espace blanc -->

<div>
    <table class="table">
        <thead>
        <tr>
            <th style="background-color: #f5f5f5; color: #000;"> </th>
            <th style="background-color: #f5f5f5; color: #000;">| Tpa_Rnf |</th>
            <th style="background-color: #f5f5f5; color: #000;">TitreReference</th>
            <th style="background-color: #f5f5f5; color: #000;">Numéro client</th>
            <th style="background-color: #f5f5f5; color: #000;">Montant à payer</th>
            <th style="background-color: #f5f5f5; color: #000;">Date limite de paiement</th>
            <th style="background-color: #f5f5f5; color: #000;">idPce</th>
            <th style="background-color: #f5f5f5; color: #000;">Code protocole</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="invoice : ${invoices}">
            <tr>
                <td>
                    <form th:action="@{/updateNombreFactureRnf/{id}(id=${invoice.id})}" method="post">
                        <div class="input-button-container">
                            <div  th:text="${invoice.nomFacture}"></div>
                            <label for="nombreFacture"></label>
                            <br>
                            <input type="number" id="nombreFacture" name="nombreFacture" inputmode="numeric" th:value="${invoice.nombreFacture}">
                            <div>
                                <button type="submit" class="small-button ">Valider nombre article</button>
                                <span class="invoice-count" th:text="${invoice.nombreFacture}"></span>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <div class="btn-group button-group " role="group">
                        <form th:action="@{/downloadFactureRnf/{id}(id=${invoice.id})}" method="post">
                            <button type="submit" class="small-button">Télécharger</button>
                        </form>
                    </div>
                    <div class="btn-group button-group " role="group">
                        <form th:action="@{/tpaTitreRnf/updateFacture/{id}(id=${invoice.id})}" method="get">
                            <button type="submit" class="small-button">Modifier</button>
                        </form>
                        <br>
                    </div>
                    <div class="btn-group button-group " role="group">
                        <form th:action="@{/deleteInvoiceRnf}" method="post">
                            <input type="hidden" th:name="id" th:value="${invoice.id}" />
                            <button type="submit" class="small-button">Supprimer</button>
                        </form>
                    </div>
                </td>
                <td class="invoice-item" th:text="${invoice.referenceTitre}"></td>
                <td class="invoice-item" th:text="${invoice.numeroClient}"></td>
                <td class="invoice-item" th:text="${invoice.montant}"></td>
                <td class="invoice-item" th:text="${invoice.datePriseEnCharge}"></td>
                <td class="invoice-item" th:text="${invoice.randomizeNomFic}"></td>
                <td>9</td>
            </tr>
        </div>
        </tbody>
    </table>
</div>
</div>
</body>
</html>
