<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Modifier facture tpa_titre_rnf</title>
  <link rel="stylesheet" th:href="@{/static/bootstrap-5.3.2-dist/css/bootstrap.min.css}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script th:src="@{/commun.js}" type="text/javascript"></script>
  <link th:href="@{/commun.css}" rel="stylesheet" type="text/css" />

</head>
<body>

<h1>Modifier facture tpa_titre_rnf</h1>
<div class="form-container">
  <form th:object="${updateNew}" th:action="@{/updateInvoiceRnf}" method="post">
    <input type="hidden" id="idRnf" name="idRnf" th:value="${idRnf}"/>

    <!-- nomFacture -->
    <label for="nomFacture">nomFacture:</label>
    <input type="text" id="nomFacture" name="nomFacture" th:field="*{nomFacture}" required>

    <!-- numeroClient -->
    <label for="numeroClient">numeroClient (maximum 6 caractères):</label>
    <input type="text" id="numeroClient" name="numeroClient" th:field="*{numeroClient}" maxlength="6" required>
    <div class="error-text" th:if="${#fields.hasErrors('numeroClient')}">
      La longueur maximale autorisée est de 6 caractères.
    </div>


    <!-- montant -->
    <label for="montant">montant (maximum 11 caractères):</label>
    <input type="text" id="montant" name="montant" th:field="*{montant}" maxlength="11" required>
    <div class="error-text" th:if="${#fields.hasErrors('montant')}">
      La longueur maximale autorisée est de 11 caractères.
    </div>

    <!-- datePriseEnCharge -->
    <label for="datePriseEnCharge">Date limite de paiement (format : yyyy-MM(max-12)-dd(max-31)):</label>
    <input type="text" id="datePriseEnCharge" name="datePriseEnCharge" th:field="*{datePriseEnCharge}"
           pattern="\d{4}-\d{2}-\d{2}" maxlength="10" required>
    <div class="error-text" th:if="${#fields.hasErrors('datePriseEnCharge')}">
      Veuillez entrer une date au format yyyy-MM-dd.
    </div>

    <!-- randomizeNomFic -->
    <label for="randomizeNomFic">idPce (maximum 10 caractères):</label>
    <input type="text" id="randomizeNomFic" name="randomizeNomFic" th:field="*{randomizeNomFic}" maxlength="10" required>
    <div class="error-text" th:if="${#fields.hasErrors('randomizeNomFic')}">
      La longueur maximale autorisée est de 10 caractères.
    </div>

</div>

<div style="display: flex; align-items: center; justify-content: center;">
  <input type="submit" value="Modifier" class="styled-link">
  <input type="button" value="Annuler" onclick="window.history.back();" class="styled-link cancel-button">
</div>
</form>

</body>
</html>
