<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modifier facture tpa_titre_rol</title>
    <link rel="stylesheet" th:href="@{/static/bootstrap-5.3.2-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script th:src="@{/commun.js}" type="text/javascript"></script>
    <link th:href="@{/commun.css}" rel="stylesheet" type="text/css" />

</head>
<body>

<div class="form-container">
    <h1>Modifier facture tpa_titre_rol</h1>
    <form th:object="${updateNew}" th:action="@{/updateInvoiceRol}" method="post">
        <input type="hidden" id="idRol" name="idRol" th:value="${idRol}"/>

        <!-- nomFacture -->
        <label for="nomFacture">nomFacture:</label>
        <input type="text" id="nomFacture" name="nomFacture" th:field="*{nomFacture}" required>

        <!-- IdPost -->
        <label for="IdPost">Numéro client:</label>
        <input type="text" id="IdPost" name="IdPost" th:field="*{IdPost}" required>

        <!-- Montant à payer -->
        <label for="MtTTC">Montant à payer:</label>
        <input type="number" id="MtTTC" name="MtTTC" th:field="*{MtTTC}" step="0.01" required>

        <!-- DtePcePec -->
        <label for="DtePcePec">Date limite de paiement (format : yyyy-MM(max-12)-dd(max-31)):</label>
        <input type="text" id="DtePcePec" name="DtePcePec" th:field="*{DtePcePec}"
               pattern="\d{4}-\d{2}-\d{2}" maxlength="10" required>
        <div class="error-text" th:if="${#fields.hasErrors('DtePcePec')}">
            Veuillez entrer une date au format yyyy-MM-dd.
        </div>

        <!-- NumDette -->
        <label for="NumDette">Numéro dette:</label>
        <input type="text" id="NumDette" name="NumDette" th:field="*{NumDette}" required>

</div>

<div style="display: flex; align-items: center; justify-content: center;">
    <input type="submit" value="Modifier" class="styled-link">
    <input type="button" value="Annuler" onclick="window.history.back();" class="styled-link cancel-button">
</div>
</form>

</body>
</html>
